body {
    min-height: 100vh;
    height: 200vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;

    display: flex;
    flex-direction: column;
}

.hero {
    min-height: 476px;
    background-color: #1f2937;

    padding: 18px 192px 40px 208px;
}

.header {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    gap: 24px;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 800;
    margin-right: auto;
}

.header-link {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 14px;
    flex-basis: 45%;
}

.hero-main {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.hero-image > img {
    width: 522px;
    border: 2px solid #e5e7eb;
    border-radius: 16px;
}

.hero-text-1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin-bottom: -14px; /* what */
}

.hero-text-2 {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-text > button {
    background-color: #3882f6;
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 8px 32px;
    align-self: flex-start;
    border-radius: 8px;
    border: none;
}


.information {
    background-color: #bbb;
}

.quote {
    background-color: #999;
}

.call-to-action {
    background-color: #bbb;
}

.footer {
    background-color: #999;
}