body {
    min-height: 100vh;
    height: 200vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;

    display: flex;
    flex-direction: column;
}

.hero {
    min-height: 476px;
    background-color: #1f2937;

    padding: 18px 192px 40px 208px;
}

.header {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    gap: 24px;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 800;
    margin-right: auto;
}

.header > a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.header > a:hover {
    text-decoration: underline;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 14px;
    flex-basis: 45%;
}

.hero-main {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.hero-image {
    width: 522px;
}

.hero-image > img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    border: 2px solid #e5e7eb;
    border-radius: 16px;
}

.hero-text-1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin-bottom: -14px; /* what */
}

.hero-text-2 {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-text > button, .call-to-action > button {
    background-color: #3882f6;
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 8px 32px;
    align-self: flex-start;
    border-radius: 8px;
    border: none;
}

.hero-text > button:hover, .call-to-action > button:hover {
    background-color: #3272da;
}

.hero-text > button:active, .call-to-action > button:active {
    transform: scale(.98);
}

.information {
    
    & h1 {
        padding-top: 22px;
        padding-bottom: 28px;
        font-size: 36px;
        font-weight: 900;
        color: #1f2937;
        text-align: center;
    }
}

.info-sections {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 46px;
    padding-bottom: 100px;
}

.info-sections > div {
    width: 160px;
    text-align: center;
    font-size: 16px;
    color: #7e7e7e;
}

.info-img {
    width: 160px;
    height: 160px;
    border: 4px solid #4589f7;
    border-radius: 16px;
    margin-bottom: 8px;
}

.info-sections img {
    width: 160px;
    height: 160px;
    border: 4px solid #4589f7;
    border-radius: 16px;
    margin-bottom: 8px;
}


.quote {
    background-color: #e5e7eb;
    padding: 100px 21% 80px;
}

.quote-text {
    color: #1f2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.quote-name {
    font-size: 24px;
    font-weight: 600;
    text-align: end;
}

.call-to-action {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    background-color: #3882f6;
    color: white;
    border-radius: 8px;
    margin: 100px 190px;
    padding: 45px 110px;
}

.action-text-1 {
    font-size: 20px;
    font-weight: 700;
}

.action-text-2 {
    color: #e5e7eb;
}

.call-to-action > button {
    border: 2px solid white;
}

.footer {
    background-color: #1f2937;
    color: #e5e7eb;
    text-align: center;
    padding: 32px;
}